{% extends 'base.html' %}
{% block content %}
	<h2>Post - Listagem</h2>
	<div class="text-right">
		<a class="btn btn-default" role="button"  href="{% url 'blog:create' %}">
			<i class="glyphicon glyphicon-plus"></i> Cadastrar novo
		</a>
	</div>
	<table class="table">
		<thead>
			<th>Titulo</th>
			<th>Texto</th>
			<th></th>
		</thead>
		<tbody>
			{% for post in posts %}
			<tr>
				<td><a href="{% url 'blog:edit' pk=post.id %}">{{ post.titulo }}</a></td>
				<td>{{ post.texto }}</td>
				<td>
					<a class="btn btn-default" href="{% url 'blog:edit' pk=post.id %}" role="button">
						<i class="glyphicon glyphicon-pencil"></i>
					</a>
					<a class="btn btn-default" href="{% url 'blog:remove' pk=post.id %}" role="button">
						<i class="glyphicon glyphicon-trash"></i>
					</a>
				</td>
			</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock content %}
